<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title layout:title="Dodaj Žanr">Dodaj Žanr</title>
</head>
<body>
<main layout:fragment="content">
    <h1>Dodaj Žanr</h1>

    <form th:action="@{/genres}" method="post" th:object="${genre}" class="add-form">

        <label for="name">*Ime:</label>
        <input type="text" id="name" th:field="*{name}" required />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div>

        <label for="description">Opis:</label>
        <textarea id="description" th:field="*{description}" rows="4" cols="50"></textarea>

        <label for="originCountry">Zemlja Porekla:</label>
        <input type="text" id="originCountry" th:field="*{originCountry}" />

        <label for="originPeriod">Period Porekla:</label>
        <input type="text" id="originPeriod" th:field="*{originPeriod}" />

        <button type="submit">Sačuvaj</button>
    </form>
</main>
</body>
</html>