<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title layout:title="Dodaj Album">Dodaj Album</title>
</head>
<body>
<main layout:fragment="content">
    <h1>Dodaj Album</h1>

    <form th:action="@{/albums}" method="post" th:object="${album}" class="add-form">

        <label for="title">*Naslov:</label>
        <input type="text" id="title" th:field="*{title}" required />
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red"></div>

        <label for="releaseDate">Datum izdavanja:</label>
        <input type='date' id="releaseDate" th:field="*{releaseDate}" />

        <label for="artist">*Izvođač:</label>
        <select id="artist" th:field="*{artistId}" required>
            <option th:value="${null}">Odaberi Izvođača</option>
            <option th:each="artist : ${artists}"
                    th:value="${artist.id}" th:text="${artist.name}"
            >
            </option>
        </select>
        <div th:if="${#fields.hasErrors('artistId')}" th:errors="*{artistId}" style="color:red"></div>

        <label for="genre">*Žanr:</label>
        <select id="genre" th:field="*{genreId}" required>
            <option th:value="${null}">Odaberi Žanr</option>
            <option th:each="genre : ${genres}"
                    th:value="${genre.id}" th:text="${genre.name}"
            >
            </option>
        </select>
        <div th:if="${#fields.hasErrors('genreId')}" th:errors="*{genreId}" style="color:red"></div>

        <label for="type">Tip:</label>
        <select id="type" th:field="*{type}">
            <option th:value="Studio">Studio</option>
            <option th:value="VisualAlbum">Visual Album</option>
            <option th:value="Compilation">Compilation</option>
        </select>

        <label for="label">Naziv:</label>
        <input type="text" id="label" th:field="*{label}" />

        <label for="coverUrl">Slika:</label>
        <input type="text" id="coverUrl" th:field="*{coverUrl}" />

        <button type="submit">Sačuvaj</button>
    </form>
</main>
</body>
</html>